.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;

} 

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    font-size: 18px;
    font-weight: 400;
}

.header_logo {
    display: flex;
    width: 148px;
    height: 105px;
    cursor: pointer;
    
}

.header__link_active {
    text-decoration: none;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    justify-self: end;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
}

.address a {
    text-decoration: none;
    display: inline-flex;
    border-bottom: 1px solid black;
}

/* 1 блок */
.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    padding: 165px 50px 50px 50px;
    background-size: cover;
    background-position: center;
    color: white;

}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.6);


}
 
.cover__title {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    line-height: 115%;
    gap: 20px;
    letter-spacing: 30px;

}

.aligned-text_left {
    display: block;
    text-align: left;
    margin-right: -30px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-right: -30px;

}

.aligned-text_right {
    display: block;
    text-align: right;
    margin-right: -30px;
}

.cover__description {
    position: relative;
    z-index: 1;
    margin-top: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cover__description-text {
    color: white;
    word-spacing: 19px;
    z-index: 1;
    font-size: 22px;
    text-transform: uppercase;

}

.bet-button {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 12px 32px;
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
    margin-left: auto;

}
   
/* 2 блок */
.lots {
    margin-top: 180px;
    padding: 0 24px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

}

.lots__card-list-item {
    flex: 1;
    min-height: 596px;
}

.card-link {
    text-decoration: none;
    height: 100%;

}

.card {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 48px 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    

}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);

}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);

}

.card__title {
    position: relative;
    z-index: 1;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
}

.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid black;
}
  
/* 3 блок */
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    margin-top: 120px;
    gap: 25px;
    padding: 0 24px;
}

.about__logo {
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin: 35px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    height: 114px;
}

.about__title {
    margin-top: 136px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.about__text {
    font-size: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}


/*ПОДВАЛ*/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    justify-items: center;
    align-items: start;
    padding: 180px 50px 82px;
}

.address__footer {
    max-width: 100%;
}

.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
